.moveHistory{
  height:70%; 
  overflow-y:scroll; 
  padding-left: 10px;
  background-color: lightblue;

}

.cardTable {
  position: relative;
  left: 0px;
  top:0px;
  height:70%;
  width:100%;
  border:2px solid #000000;
  background-color: #35654d;
}

.lives {
  left: 10%;
  top: 5%;
  height:8%;
  width:40%;
  position: absolute
}

.card0 {
  left: 20%;
  top: 25%;
  position: absolute;
  /* align-items: left; */
}

.card1 {
  left: 42%;
  top: 25%;
  position: absolute;
  /* align-items: left; */
}

.card2 {
  left: 64%;
  top: 25%;
  position: absolute;
  /* align-items: left; */
}

.card3 {
  left: 28%;
  top: 62.5%;
  position: absolute;
  /* align-items: left; */
}

.card4 {
  left: 55%;
  top: 62.5%;  
  position: absolute;
  /* align-items: left; */
}