.cardTable {
  position: relative;
  left: 0px;
  top:0px;
  height:70%;
  width:100%;
  border:2px solid #000000;
}


.card0 {
  left: 22.2%;
  top: 12.5%;
  position: absolute;
  align-items: center;
}

.card1 {
  left: 44.4%;
  top: 12.5%;
  position: absolute;
  align-items: center;
}

.card2 {
  left: 66.6%;
  top: 12.5%;
  position: absolute;
  align-items: center;
}

.card3 {
  left: 33.3%;
  top: 62.5%;
  position: absolute;
  align-items: center;
}

.card4 {
  left: 55.5%;
  top: 62.5%;  
  position: absolute;

  align-items: center;
}